img.wpGallery {
	border: 1px dashed #888;
	background: #f2f8ff url("../../wpgallery/img/gallery.png") no-repeat scroll center center;
	width: 99%;
	height: 250px;
}

img.wp-oembed {
	border: 1px dashed #888;
	background: #f7f5f2 url("../img/embedded.png") no-repeat scroll center center;
	width: 300px;
	height: 250px;
}
